<link rel="stylesheet" href="register.component.css">
<div style="justify-content: center; display: flex; margin: 50px 0">
  <div class="whitecard" style="width: 95%;max-width: 600px; padding: 50px 5%; height: fit-content">
    <form [formGroup]="regForm" (ngSubmit)="register()">
      <h1>Регистрация</h1>
      <div>
        <label for="inputSnils">Снилс</label>
        <br>
        <input type="text" class="form-control" id="inputSnils" formControlName="snils" placeholder="Снилс">
      </div>
      <div>
        <label for="inputLogin">Логин</label>
        <br>
        <input type="email" class="form-control" id="inputLogin" formControlName="login" placeholder="Логин">
      </div>
      <div>
        <label for="inputPassword">Пароль</label>
        <br>
        <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Пароль">
      </div>
      <div *ngIf="!isCorrect">
        <p style="color: red"> Такой пользователь уже существует</p>
      </div>
      <br>
      <button style="width: 100%" [disabled]="regForm.invalid" type="submit">Зарегистрироваться</button>
    </form>
    <div style="display: flex; justify-content: center">
      Уже есть аккаунт?<a routerLink="/login"> Войти</a>
    </div>
  </div>
</div>
