.card{
  width: 20%;
  height: 300px;
  position: absolute;
  border: none;
  box-shadow: 10px 0 10px 2px rgba(0,0,0, 0.05);
  border-radius: 20px;
  transition: height 0.5s, width 0.5s, margin-top 0.5s;
  cursor: pointer;
}
.card:hover{
  height: 400px;
  width: 21%;
  margin-top: -50px;
}
.cardsplaceholder{
  width: 40%;
  display: flex;
  margin-left: 0;
}
.carddescription{
  width: 50%;
}
.bignumber{
 font-size: 46px;
  color: #00b6a6;
}
.smallnumber{
  font-size: 18px;
  color: #435777;
}
.bigtext{
  font-size: 26px;
  font-weight: lighter;
  color: #0b2c57;
  margin-bottom: 20px;
}
.nomaltext{
  max-width: 10%
}

@media (max-width: 1200px){
  .whitecards{
    flex-direction: column;
    width: 100%;
  }
  .whitecard{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
  .ranges{
    max-width: 60vw;
  }

}
@media (max-width: 900px)
{
  .cardsplaceholder{
    display: none;
    width: 0;
  }
  .carddescription{
    width: 100%;
  }

  .bignumber{
    font-size: 28px;
  }


  .bigtext{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

}

@media (max-width: 700px) {
  .calcplaceholder{
    flex-direction: column;
  }
  .calcplaceholder > div{
    min-width: 100%;
  }
  .strip{
    min-width: 100%;
    min-height: 1px;
    max-height: 1px;
  }
  .bignumber{
    font-size: 1.25em;
  }
  .ranges{
    max-width: 80vw;
  }

}

.whitecards{
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ranges td{
  text-align: right;
}
.ranges tr{
  height: 50px;
}
.ranges{

}
.calcplaceholder{
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}
.strip{
  width: 1px; height: 250px; background-color: rgba(121,131,154,0.3)
}
.textinput{
  font-family: Helvetica;
  color: #435777;
  width: 5vw;
  border: none;
  text-align: right;
}
