<div style="box-shadow: inset 0 0 50px 2px #e8e8e8;
  height: 300px;
  display: flex;
  margin-top: 50px;
  ">
  <div class="carddescription">
    <ul style="list-style-type: none;
               display: flex;
               justify-content: space-between;">
      <li class="arrows">
        <div style="height: 300px; display: flex; flex-direction: column; justify-content: center ">
          <img src="../../../assets/img/Arrow_left.png" style="width: 15px; cursor: pointer" (click)="lowercard()"></div>
      </li>
      <li>
        <div style="height: 300px; display: flex; flex-direction: column; justify-content: center">
          <div style="margin-left: 10%; margin-right: 10%">
            <p class="bigtext">{{cardinform[cardtype % 3].head}}</p>
            <p>{{cardinform[cardtype % 3].body}}</p>
          </div>
        </div>
      </li>
      <li style="margin-right: 30px" class="arrows">
        <div style="height: 300px; display: flex; flex-direction: column; justify-content: center ">
          <img src="../../../assets/img/Arrow_right.png" style="width: 15px; cursor: pointer" (click)="higercard()">
        </div>
      </li>
    </ul>
  </div>
  <div class="cardsplaceholder">
    <div class="card" style="margin-left: 30%; background-color: #ffb366; justify-content: center"
         (click)="changecard(2)" [style]="cardstyle[2]">
      <img src="../../../assets/img/question.png" width="70%"
           style="margin-left: auto; margin-right: auto; max-height: 300px; max-width: 300px">
    </div>
    <div class="card" style="margin-left: 15%; background-color: #9dee9c; justify-content: center"
         (click)="changecard(1)" [style]="cardstyle[1]">
      <img src="../../../assets/img/patient.png" width="70%"
           style="margin-left: auto; margin-right: auto; max-height: 300px; max-width: 300px">
    </div>
    <div class="card" style="background-color: #00d79b; justify-content: center" (click)="changecard(0)"
         [style]="cardstyle[0]">
      <img src="../../../assets/img/future.png" width="70%"
           style="margin-left: auto; margin-right: auto; max-height: 300px; max-width: 300px">
    </div>
  </div>
</div>

<table style="width: 100%; text-align: center; margin: 50px 0 50px 0; padding: 0 5% 0 5%">
  <tr>
    <td><p class="bignumber">10 лет</p></td>
    <td><p class="bignumber">1 млн</p></td>
    <td><p class="bignumber">2 млрд ₽</p></td>
    <td><p class="bignumber">20 место</p></td>
  </tr>
  <tr>
    <td><p class="smallnumber">на пенсионном рынке</p></td>
    <td><p class="smallnumber">клиентов по всей России</p></td>
    <td><p class="smallnumber">активов в управлении</p></td>
    <td><p class="smallnumber">в списке Forbes</p></td>
  </tr>
</table>
<div style="display: flex; flex-direction: row; align-items: center">
  <div class="whitecards">
    <div class="whitecard" style=" min-width: 300px; max-width: 50%" *ngIf="!isLogin">
      <p style="font-weight: bold; font-size: 26px; color: #435777; margin-bottom: 50px">Личный кабинет</p>
      <p style="margin: 0 5% 0 5%">
        Войдите в личный кабинет для управления своими финансами. Или зарегестрируйтесь за 15 минут!
      </p>
      <button style="width: fit-content; align-self: center; margin-top: 50px" routerLink="login">Войти</button>
      <button style="width: fit-content; align-self: center" routerLink="/registration">Зарегистрироваться</button>
    </div>
    <div class="whitecard" style="width: 95%;">
      <p style="font-weight: bold; font-size: 26px; color: #435777; margin-bottom: 10px">Калькулятор пенсии</p>
      <p style="margin: 0 5% 10px 5%">
        Рассчитайте предполагаемый размер вашей накопительной и негосударственной пенсии
      </p>
      <div class="calcplaceholder">
        <div style="width: 100%; min-width: 430px; text-align: right; padding-left: 5%; padding-right: 1%;">
          <table class="ranges">
            <tr>
              <td style="width: 25%;">
                Пол
              </td>
              <td style="display: flex; padding-left: 10px; text-align: center;">
                <div style="cursor: pointer;display: flex; margin: auto;" *ngIf="calc.isMan">
                  <div
                    style="width: 40px; height: 30px; border: solid 1px #00c67e; border-radius: 10px 0 0 10px; color: white; background-color: #00c67e; text-align: center"
                    (click)="changeIsMan(true)">
                    М
                  </div>
                  <div
                    style="width: 40px; height: 30px; border: solid 1px #00c67e; border-radius: 0 10px 10px 0; text-align: center; color: #00c67e"
                    (click)="changeIsMan(false)">
                    Ж
                  </div>
                </div>
                <div style="cursor: pointer;display: flex; margin: auto;" *ngIf="!calc.isMan">
                  <div
                    style="width: 40px; height: 30px; border: solid 1px #00c67e; border-radius: 10px 0 0 10px; color: #00c67e; text-align: center"
                    (click)="changeIsMan(true)">
                    М
                  </div>
                  <div
                    style="width: 40px; height: 30px; border: solid 1px #00c67e; border-radius: 0 10px 10px 0; text-align: center; color: white; background-color: #00c67e;"
                    (click)="changeIsMan(false)">
                    Ж
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                Возраст
              </td>
              <td style="width: 50%;padding-left: 10px">
                <input type="range" class="form-range" min="18" [max]="getAgeRange()" id="ageRange"
                       [(ngModel)]="calc.age">
              </td>
              <td style="padding-left: 10px; width: 25%">
                <input type="text" [(ngModel)]="calc.age" class="textinput"> лет
              </td>
            </tr>
            <tr>
              <td>
                Заработная плата
              </td>
              <td style="padding-left: 10px">
                <input type="range" class="form-range" min="1000" max="100000" id="zpRange" [(ngModel)]="calc.salary">
              </td>
              <td style="padding-left: 10px; width: 25%">
                <input type="text" [(ngModel)]="calc.salary" class="textinput"> ₽
              </td>
            </tr>
            <tr>
              <td>
                Размер взноса
              </td>
              <td style="padding-left: 10px">
                <input type="range" class="form-range" min="1000" max="100000" id="vznosRange"
                       [(ngModel)]="calc.payment">
              </td>
              <td style="padding-left: 10px; width: 25%">
                <input type="text" [(ngModel)]="calc.payment" class="textinput"> ₽
              </td>
            </tr>
            <tr>
              <td>
                Доходность НПО
              </td>
              <td style="padding-left: 10px">
                <input type="range" class="form-range" min="1" max="9" id="percentRange" [(ngModel)]="calc.percent">
              </td>
              <td style="padding-left: 10px; width: 25%;">
                <input type="text" [(ngModel)]="calc.percent" class="textinput"> %
              </td>
            </tr>
          </table>
        </div>
        <div class="strip"></div>
        <div style="text-align: right; padding-top: 50px; padding-left: 5%;padding-right: 5%">
          Итоговая сумма вашей пенсии
          <p style="font-size: 36px; font-weight: bold; color: #00b6a6">{{getCalc()}} ₽</p>
          <button routerLink="/newconract">Оформить сейчас</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-publications></app-publications>
