<div style="color: rgba(67,87,119,0.8);">

<div style="height: calc(700px - 30vw);min-height: 300px; max-height: 500px; background-color: #d2efd1; display: flex; padding: 20px 5%">
<div style="width: 100vw">
   <p style="font-weight: bold; margin-left: 50px">Фонд</p>
   <ul class="bottom_buttons">
     <li>О Фонде</li>
     <li>Для обязательного сведения</li>
     <li>Доходность</li>
     <li>Реквизиты</li>
     <li>Контакты и офисы</li>
     <li>Раскрытие информации</li>
    </ul>
  </div>
  <div style="width: 100vw">
    <p style="font-weight: bold; margin-left: 50px">Клиентам</p>
    <ul class="bottom_buttons">
      <li>Заключение договора</li>
      <li>Назначение пенсии</li>
      <li>Обновление сведений</li>
      <li>Получение справки о доходах</li>
      <li>Правопреемство</li>
      <li>Изменение реквизитов</li>
    </ul>
  </div>
<div>
</div>
</div>
<div style="height: 100px; background-color: #9dee9c; padding: 10px 20px; font-size: 16px; display: flex; justify-content: space-between">

  <div style="width: 60vw">
  <p>© 2012-2022 АО «НПФ МИНТ»</p>
  Лицензия №1488/2 от 24.04.2002 выдана Министерством труда и социального развития.
  </div>
  <div style="margin-top: auto; margin-bottom: auto; width: 30%; display: flex; justify-content: center">
  <p style="margin: 0 2%; width: 250px">Обратиться в фонд</p>
  <p style="margin: 0 2%; width: 200px">Карта сайта</p>
  </div>
</div>
</div>
