<h1 style="margin-left: 2%; margin-top: 50px">
  Наши публикации
</h1>

<div style="padding: 10px 1%; display: flex; justify-content: center; flex-wrap: wrap;">
  <div *ngFor="let publication of publications" >
    <div class="whitecard" style="min-width: 30%; width: 96%; max-width: 600px; height: 500px;position:relative;">
      <img [src]="publication.img" style="width: 100%; height: 300px;object-fit: cover; margin-top: -80px; border-radius: 15px 15px 0 0">
      <div style=" padding: 10px 5%">
        <h1 style="margin-top: 10px">
          {{publication.head}}
        </h1>
        <div>
          {{publication.body}}
        </div>
        <div style="display: flex; text-align: right;flex-direction: column; position: absolute; bottom: 0; right: 20px">
          <p class="greenbuttons">Подробнее</p>
        </div>
      </div>
    </div>
  </div>
</div>
