<div style="display: flex; justify-content: space-around; padding: 20px 2%;">
  <div style=" width: 50vw; max-width: 700px; margin: 10px">
    <h1>Почему вам стоит перейти на МИНТ?</h1>
    НПФ МИНТ - быстроразвивающийся пенсионный фонд с выгодными условиями.
    Вы точно не пожалеете о выборе нашей компании.
    Другой мотивационный текст.
    Еще немного мотивационного теста.
    <br><br>
    <button routerLink="/newconract">Заключить договор</button>
  </div>
  <img src="../../../assets/img/coins.png" style="height: 500px; max-width: 40%; object-fit: scale-down">
</div>
<div class="adnumbers">
  <h1>В чем преимущества НПФ МИНТ?</h1>
  <div>
    <h2>1.</h2>
    Удобство использования
  </div>
  <div>
    <h2>2.</h2>
    Это выгодно
  </div>
  <div>
    <h2>3.</h2>
    Это надежно
  </div>
</div>

<app-publications></app-publications>
