<div style="display: flex; justify-content: space-around; padding: 20px 2%;">
<div style=" width: 50vw; max-width: 700px; margin: 10px">
<h1>Что такое Индивидуальный Пенсионный План?</h1>
Индивидуальный пенсионный план (ИПП) - это инструмент для долгосрочных накоплений, позволяющий сформировать пенсию желаемого размера за счет самостоятельных взносов и инвестиционного дохода НПФ МИНТ
  <br><br>
  <button>Заключить договор</button>
</div>
<img src="assets/img/thinking.png" style="height: 500px;">
</div>
<div class="adnumbers">
  <h1>В чем преимущества ИПП в НПФ МИНТ?</h1>
  <div>
  <h2>1.</h2>
  Удобство использования
  </div>
  <div>
  <h2>2.</h2>
  Это выгодно
  </div>
  <div>
  <h2>3.</h2>
  Это надежно
  </div>
</div>

<app-publications></app-publications>
